.headerArtist {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
}

.headerArtist > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.75);
    object-fit: cover;
}

.artistName {
    font-size: 3em;
    color: white;
    margin-left: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    margin: 1em 1em;
    padding: 0;
}

.album {
    display: flex;
    margin: 10px;
    align-items: center;

}

.album > img {
    height: 64px;
    width: 64px;
    border-radius: 3px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    object-fit: cover;
}

.album > .albumName {
    font-size: 1.5em;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: bolder;
}