.home {
  background-color: #333;
  width: 100%;
    padding-bottom: 50px;
}

.box {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header {
    color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.header > * {
    margin: 10px;
}
.header > img {
    height: 64px;
}

.brand {
    font-family: 'Rancho';
    font-size: 5em;
    font-weight: bolder;
}

.itemContainer {
     display: flex;
     justify-content: center;
 }
