.searchBar {
    font-size: 2em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bolder;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}